.todo-card {
  background: #D9D9D9;
  border-radius: 20px;
  flex: none;
  width: 100%;
}

.todo-card.done {
  opacity: 70%;
}

.todo-card.daily {
  background: #85d1db;
}

.todo-header {
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  padding: 4px 8px;
  width: 100%;
}

.todo-header h4 {
  color: black;
  font-size: 18px;
  font-family: 'Inter';
  font-weight: bold;
  word-wrap: break-word;
  text-transform: capitalize;
}

.todo-header.done {
  text-decoration: line-through;
}

.todo-header.done h4 {
  font-weight: normal;
}

input[type=checkbox].done-indicator {
  width: 20px;
  height: 20px;
  border-radius: 25px;
  background: #bebebe;
  border: 1px solid rgb(74, 74, 74);
  accent-color: #82ED80;
}

.done-indicator.done {
  background: #82ED80;
}

.done-indicator img {
  width: 3rem;
  display: none;
}

.done img {
  display: inline;
}

.todo-card p {
  color: black;
  font-size: 20px;
  font-family: 'Inter';
  font-weight: 400;
  word-wrap: break-word;
}